<%- include("partials/header"); -%>
    <h1>About</h1>
    <div class="boxed">
      <p> <%= aboutContent %> </p>
      <p>I am a student B.Tech ECE 3rd Year in SRM Institute of Science And Technology, Chennai.</p>
      <p>I am learning Full Stack past 6 months and I am open to any type of Internships or Jobs.I have a keen interest in programming and want to develop more apps and sites to gain more experience and exposure to give out to the world.
        </p>
    </div>


<%- include("partials/footer"); -%>
