<%- include("partials/header"); -%>
<div class="">
  <h1>Contact</h1>
  <h4> <%= contactContent %> </h4>
</div>


      <div class="boxed">
        Name : Ashish Sharma <br>
        Email : <a href="mailto:ashish.ssrm@gmail.com?subject=feedback">ashish.ssrm@gmail.com</a><br>
        LinkedIn: <a href="https://www.linkedin.com/in/ashish-sharma-649569151/">Ashish Sharma LinkedIn</a><br>
        Github Profile : <a href="https://github.com/ashish270299">ashish270299</a>
      </div>




<%- include("partials/footer"); -%>
